html {
  font-size: 62.5%;
  box-sizing: border-box;
}

:root {
  --main-color: #ccc5b7;
  --second-color: #e5bb89;
  --main-font-color: #ffffff;
  --main-dark-color: #6f5d44;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
textarea {
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

a:hover {
  color: var(--second-color);
}

header {
  grid-area: header;
  background-color: var(--main-color);
  color: var(--main-dark-color);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  font-size: 3.5rem;
}

header a {
  color: var(--main-dark-color);
  text-decoration: none;
}

main {
  grid-area: main;
  background-color: var(--main-color);
}

footer {
  grid-area: footer;
  background-color: var(--second-color);
  color: var(--main-font-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
